In [1]:
import pandas as pd
import numpy as np

In [2]:
#concat
months = ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12"]
m_df = pd.DataFrame()

for month in months:
    print(month)
    filepath = f"data/2022{month}-citibike-tripdata.csv"
    df = pd.read_csv(filepath, low_memory = False)
    df = df.sample(frac = 0.015, random_state = 42)
    m_df = pd.concat([m_df, df], axis=0)
    
m_df = m_df.reset_index(drop = True)

01
02
03
04
05
06
07
08
09
10
11
12

In [3]:
#append
# months = ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12"]
# m_df = pd.DataFrame()

# for month in months:
#     print(month)
#     filepath = f"data/2022{month}-citibike-tripdata.csv"
#     df = pd.read_csv(filepath, low_memory = False)
#     df = df.sample(frac = 0.015, random_state = 42)
#     m_df = m_df.append(df)
    
# m_df = m_df.reset_index(drop = True)

In [4]:
df.columns

Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual'],
      dtype='object')

In [5]:
m_df.to_csv("2022_citibike_rides_sample.csv", index = False)

In [6]:
m_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,C694E40A6A22AEB5,electric_bike,2022-01-10 06:40:04,2022-01-10 06:59:42,W 64 St & Thelonious Monk Circle,7123.04,E 33 St & 1 Ave,6197.08,40.775160,-73.989187,40.743227,-73.974498,member
1,848E6E7284EE384C,classic_bike,2022-01-14 09:07:17,2022-01-14 09:10:31,McGuinness Blvd & Eagle St,5977.01,India St & Manhattan Ave,5826.02,40.735550,-73.952840,40.732322,-73.955086,member
2,242621C23435EAB6,classic_bike,2022-01-31 08:05:11,2022-01-31 08:26:50,W 26 St & 10 Ave,6382.05,E 53 St & Lexington Ave,6617.09,40.749718,-74.002950,40.758281,-73.970694,member
3,2ED1B8EC389834CC,classic_bike,2022-01-18 11:34:24,2022-01-18 11:46:21,Pike St & E Broadway,5270.05,Market St & Cherry St,5198.04,40.714067,-73.992939,40.710762,-73.994004,member
4,A111FE6BDB460683,electric_bike,2022-01-23 04:03:30,2022-01-23 04:44:35,W 54 St & 9 Ave,6920.03,Bushwick Ave & Linden St,4600.09,40.765849,-73.986905,40.691460,-73.921460,member

In [7]:
m_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 460350 entries, 0 to 460349
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             460350 non-null  object
 1   rideable_type       460350 non-null  object
 2   started_at          460350 non-null  object
 3   ended_at            460350 non-null  object
 4   start_station_name  460349 non-null  object
 5   start_station_id    460349 non-null  object
 6   end_station_name    459261 non-null  object
 7   end_station_id      459261 non-null  object
 8   start_lat           460350 non-null  float64
 9   start_lng           460350 non-null  float64
 10  end_lat             459788 non-null  float64
 11  end_lng             459788 non-null  float64
 12  member_casual       460350 non-null  object
dtypes: float64(4), object(9)
memory usage: 45.7+ MB